 <!-- =============== Navigation ================ -->
 <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                       
                    </span>
                    <span class="title">Malek yakoudi</span>
                </a>
            </li>
  
            <li>
                <a routerLink="/dashboarddoctor">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
  
            <li>
                <a routerLink="/appointmentdoc">
                    <span class="icon">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </span>
                    <span class="title">Appointments</span>
                </a>
            </li>
            <li>
                <a routerLink="/transactionn">
                    <span class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                    </span>
                    <span class="title">Transactions</span>
                </a>
            </li>

            <li>
                <a routerLink="/visit">
                    <span class="icon">
                        <ion-icon name="medkit-outline"></ion-icon>  
                    </span>
                    <span class="title">Visit</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Messages</span>
                </a>
            </li>
                 <li>
                <a routerLink="/analyse">
                    <span class="icon">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </span>
                    <span class="title">Analyse</span>
                </a>
            </li>

  
            <li>
                <a routerLink="/profile">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="title">Profil</span>
                </a>
            </li>
  
            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </span>
                    <span class="title">Settings</span>
                </a>
            </li>
  
            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Password</span>
                </a>
            </li>
  
            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
  
    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
  
            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>
  
            <div class="user">
                <img src="assets/img/customer01.jpg" alt="">
            </div>
        </div>
  
       
  
  
        <!-- ================ Order Details List ================= -->
        <div class="main-container">
            <div class="header-bar">
              <input type="text" class="search-input" placeholder="Search">
              <button class="add-btn" routerLink="/addvisit">Add Visit</button>
            </div>
            <table class="visit-table">
              <thead>
                <tr>
                  <th>PATIENT <i class="fa fa-sort"></i></th>
                  <th>VISIT DATE <i class="fa fa-sort"></i></th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="patient-info">
                      <img class="avatar" src="https://randomuser.me/api/portraits/men/32.jpg" alt="Albert Agyei">
                      <div>
                        <div class="patient-name"><a href="#">Albert Agyei</a></div>
                        <div class="patient-email">elitecghgmail.com</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="date-badge">06 May 2025</span>
                  </td>
                  <td>
                    <i class="fa fa-eye action-icon eye"></i>
                    <i class="fa fa-pen action-icon edit"></i>
                    <i class="fa fa-trash action-icon delete"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="patient-info">
                      <img class="avatar" src="https://randomuser.me/api/portraits/men/75.jpg" alt="Cheryl Giles">
                      <div>
                        <div class="patient-name"><a href="#">Cheryl Giles</a></div>
                        <div class="patient-email">pocabugmail.com</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="date-badge">04 May 2025</span>
                  </td>
                  <td>
                    <i class="fa fa-eye action-icon eye"></i>
                    <i class="fa fa-pen action-icon edit"></i>
                    <i class="fa fa-trash action-icon delete"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>